.gameHub {
    text-align: center;
}

.gameHub_cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 780px) {
    .gameHub_cards {
        justify-content: center;
    
        display: flex;
        flex-direction: row;
        gap: 25px;
    
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 440px) {
    .gameHub_cards {
        gap: 20px;
    
    }
}