.createOrJoinGame {
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;

    gap: 25px;
}

.createOrJoinGame input {
    width: 75%;
    height: 50;
    text-align: center;

    padding: 5px;
    font-size: x-large;
    color: white;
    background-color: rgba(22, 22, 22, 0.8);
    margin-bottom: 20px;
}

.joinSelectionContainer {
    display: flex;
    justify-content: row;
    gap: 10vw;
}


@media only screen and (max-width: 780px) {
    createOrJoinGame input {
        height: 25px;
        font-size: large;
    }

}


@media only screen and (max-width: 440px) {
    @media only screen and (max-width: 780px) {
        createOrJoinGame input {
            height: 15px;
            font-size: small;
        }
    
    }
}